WORKER_BASE_URL=https://dev.realteeth.ai/mock
WORKER_ISSUE_KEY_PATH=mock_2e80116bf37a4505aac959068b5ca051
WORKER_CANDIDATE_NAME=이장호
WORKER_CANDIDATE_EMAIL=jho951@naver.com

# SPRING_DATASOURCE_URL=PostgreSQL 또는 로컬 DB 연결 주소
# SPRING_DATASOURCE_USERNAME=DB 계정
# SPRING_DATASOURCE_PASSWORD=DB 비밀번호
